# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
.consulo/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
*.tmp
*.userprefs
*.booproj
/.vs/
.vs
.vs/**/storage.ide

# ===== #
# Build #
# ===== #
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
